<footer class="bg-light text-center mt-5">
    <p>&copy; 2025 Rails Girls Kilifi. All rights reserved.</p>
    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#privacyPolicy">
            Privacy Policy
        </button>
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#codeOfConduct">
            Code of Conduct
        </button> 
        <a href="#" class="btn btn-primary">Source Code</a>
    </p>
</footer>
<%= render 'shared/privacy_policy_modal' %>
<%= render 'shared/code_of_conduct_modal' %>