<nav class="navbar navbar-expand-md navbar-light bg-light mx-2 p-4">
    <a class="navbar-brand" href="/">Rails Girls Kenya</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">  <!-- Added ms-auto to align items to the right -->
            <li class="nav-item"><a class="nav-link" href="/about_us">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact_us">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/partners">Partners</a></li>
            <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/sign_up">Sign Up</a></li>
        </ul>
    </div>
</nav>