<div class="modal fade" id="privacyPolicy" tabindex="-1" aria-labelledby="privacyPolicyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="privacyPolicyLabel"><h1 class="text-center">Privacy Policy</h1></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
                <p class="text-muted text-center">Last updated at: 29-12-2024</p>
                <section class="my-4" id="dataCollection">
                    <h2>Data Collection</h2>
                    <p>For the registration of attendees and coaches, we use third-party services to collect and store the data.</p>
                    <p>The information we collect, if submitted:</p>
                    <ul>
                        <li>Your full name, <strong>required</strong></li>
                        <li>Your pronouns, <strong>required</strong></li>
                        <li>Your email address, <strong>required</strong></li>
                        <li>Experience level, <strong>required</strong></li>
                        <li>Profile picture, <strong>optional</strong></li>
                        <li>Food limitations, allergies, <strong>optional</strong></li>
                        <li>T-shirt size, <strong>optional</strong></li>
                        <li>Opt-in for childcare services, <strong>optional</strong></li>
                        <li>Contact information for waiting list, <strong>optional</strong></li>
                        <li>Contact information for future information, <strong>optional</strong></li>
                        <li>Any other information you shared with us, <strong>optional</strong></li>
                    </ul>
                    <p>Communications via email or social media may also be collected.</p>
                </section>
                
                <section class="my-4" id="cookies">
                    <h2>Cookies</h2>
                    <p>Cookies are files with small amounts of data stored on your computer when visiting this website. Some cookies are used to track you. Our websites only set cookies of their own to track if third-party cookies were accepted or not, and load third-party elements if accepted.</p>
                        <div class="alert alert-secondary">
                            <strong>Your cookie preferences</strong>
                            <p>This widget allows you to edit your cookie preferences. Some changes will take effect next time you load a page on this website.</p>
                            <p>You have currently: <strong>Not accepted cookies</strong></p>
                            <button class="btn btn-secondary me-2">Accept cookies</button>
                            <button class="btn btn-danger">Decline cookies</button>
                        </div>
                </section>
                
                <section class="my-4" id="useOfInformation">
                    <h2>Use of Your Information</h2>
                    <p>The information collected during registration will be used for the organization of the event and communication about the event. Specific uses include:</p>
                    <ul>
                        <li>Contacting you about updates to your registration.</li>
                        <li>Notifying you if you have been selected from the waiting list or future events.</li>
                        <li>Listing your name publicly as a coach (if agreed).</li>
                        <li>Taking and sharing pictures during the event (with prior consent).</li>
                        <li>Collecting anonymous feedback after the event.</li>
                        <li>Verifying your sign-up and processing fee refunds using bank information.</li>
                    </ul>
                    <p>Your information will <strong>not</strong> be shared with partners of the event.</p>
                </section>
                
                        <section class="my-4" id="yourRights">
                            <h2>Your Rights</h2>
                            <p>You own your data. You have the following rights:</p>
                            <ul>
                                <li><strong>Access:</strong> Request all information we currently store about you.</li>
                                <li><strong>Rectification:</strong> Request updates or corrections to your information.</li>
                                <li><strong>Deletion:</strong> Request deletion of all your information. Verification may be required.</li>
                                <li><strong>Restriction:</strong> Request limitations on the collection of your information.</li>
                            </ul>
                        </section>

                        <section class="my-4" id="thirdPartyServices">
                            <h2>Third-Party Services</h2>
                            <p>To organize Rails Girls Kenya events, we use third-party services:</p>
                            <ul>
                                <li><strong>Google Mail:</strong> For team and participant communication.</li>
                                <li><strong>Google Forms:</strong> To receive registrations.</li>
                                <li><strong>Google Docs:</strong> To store registration data.</li>
                                <li><strong>Google Maps:</strong> To display event venues (requires cookie opt-in).</li>
                                <li><strong>GitHub:</strong> To host the website.</li>
                            </ul>
                        </section>
                
                        <section class="my-4" id="linkToOtherServices">
                            <h2>Links to Other Sites</h2>
                            <p>Our websites may contain links to other sites. We are not responsible for the content, security, or practices of these third-party sites. Please review their privacy policies.</p>
                        </section>
                
                        <section class="my-4" id="security">
                            <h2>Security</h2>
                            <p>We use appropriate tools and techniques to ensure your information is protected. All communication is conducted over a secure SSL connection.</p>
                        </section>
                
                        <section class="my-4" id="changesToThisNotice">
                            <h2>Changes to This Notice</h2>
                            <p>We may update our Privacy Policy from time to time. Updates will be reflected in the "Last updated at" date. Significant changes will be communicated via email or website notice.</p>
                        </section>
                
                        <section class="my-4" id="contact">
                            <h2>Contact</h2>
                            <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
                        </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>