<div class="container my-5">
    <main>
        <h1 class="text-center mb-4">Rails Girls Kilifi</h1>
        <p>
            A free, one-day workshop. Discover the exciting world of web development through Ruby on Rails! 
            With the help and guidance of our coaches, you can create a real web application in a fun and relaxed environment.
        </p>
        <p>
            <strong>No workshops are planned right now.</strong> Click the button below to get notified about future workshops.
        </p>
        <div class="text-center">
            <a href="#" class="btn btn-primary">Subscribe for future events</a>
        </div>
        <section class="workshop-program my-5">
            <h2>Workshop Program</h2>
            <ul class="list-unstyled">
                <li><strong>9:00 AM</strong>: Have some coffee and tea. Prepare laptops</li>
                <li><strong>10:00 AM</strong>: Introduction and icebreaker</li>
                <li><strong>10:20 AM</strong>: Introduction to Ruby and Rails</li>
                <li><strong>11:00 AM</strong>: Following the <a href="https://guides.railsgirls.com/app" target="_blank">building your app guide</a></li>
                <li><strong>12:30 PM</strong>: Lunch time</li>
                <li><strong>13:30 PM</strong>: Continue <a href="https://guides.railsgirls.com/app" target="_blank">building your app guide</a></li>
                <li><strong>16:15 PM</strong>: Wrap-up of the workshop</li>
                <li><strong>17:00 PM</strong>: End of the workshop</li>
            </ul>
            <p><small>The exact program may change before the workshop, but the start and end times are set.</small></p>
        </section>

        <section class="faq my-5">
            <h2>Frequently Asked Questions</h2>
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Where can I sign up as a participant?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Please fill out <a href="" target="_blank" >this form</a> to participate in future events.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            How much does the workshop cost?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Nothing, it's free! You just need to be excited to learn!
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Do I need a laptop?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes! Please bring a laptop with you to the workshop. 
                        Don't forget your charger! You can either prepare your laptop at 
                        home by <a href="https://guides.railsgirls.com/install" target="_blank">installing the necessary software, </a>
                        or install it the morning of the workshop with the help of a coach.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Who can participate?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        This workshop is aimed at women with a basic knowledge of working with a computer, who want to try out software development. 
                        People from other genders can apply, but women are given priority at this workshop. 
                        We've had people of all ages taking part. Most of the course and announcements are given in English and small group work is done in either Swahili or English.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            How many people can attend?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        The maximum number of participants varies per workshop. 
                        Sign up quick to secure your spot once a new workshop is announced!
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq6">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Are meals provided during the workshop?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes! We offer lunch and snacks during the workshop. 
                        Let us know your food limitations using the workshop's sign up form.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq7">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Can I bring my children?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes! We have childcare services available for participants. 
                        This is for children maximum age five. We have a separate room and 
                        dedicated people to look after any children present. 
                        Please indicate if you will bring children on the sign up form. 
                        If you forgot to indicate this or need to update your answer, please <a href="mailto:info@railsgirls.or.ke">email us</a>.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq8">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            What happens once I've signed up?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Once we have enough sign ups and coaches, we will send out confirmations for everyone 
                        that can attend. A waiting list is available if we're fully booked, 
                        in case anyone cancels and a space opens up.Before the day of the workshop we will update you with news 
                        about the workshop and reminders about the workshop.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq9">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            I can no longer make it to the workshop. What do I do?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Please let us know you can no longer make it by <a href="mailto:info@railsgirls.or.ke">emailing us</a>. Please send the email from the address you signed up with or mention your name. We will give your spot to someone on the waiting list.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq10">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Yes! We follow the Contributor Covenant
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes! We follow the Contributor Covenant Code of Conduct.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq11">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            Can I help out?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Thank you! We are looking for coaches to help us at the day of the workshop.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq12">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            What is this workshop?
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        This workshop is a local edition of Rails Girls events. An international group of volunteers organizing events in their local areas.
                    </div>
                </div>
            </div>
            <div class="accordion pt-2" id="faqAccordion">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="faq13">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                            I have different question.
                        </button>
                    </h3>
                <div id="collapse1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Ask us anything! Please send us your questions at <a href="mailto:info@railsgirls.or.ke">info@railsgirls.or.ke</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners my-5">
            <h2>Partners</h2>
            <p>
                Rails Girls Kilifi is made possible by generous and wonderful partners. Interested in sponsoring the next event? 
                <a href="mailto:info@railsgirls.or.ke">Contact us.</a>
            </p>
        </section>
    </main>
</div>  